.Header {
  height: 100vh;
  background: url("./img/header-logo.jpg") no-repeat center / cover;
  position: relative;
}

.Header__title {
  color: rgb(5, 22, 77);
  font-size: 8rem;
  position: absolute;
  bottom: 3%;
  left: 3%;
  text-align: left;
}

@media (max-width: 1000px), (max-device-width: 1000px) {
  .Header__title {
    font-size: 6rem;
  }
}

@media (max-width: 750px), (max-device-width: 750px) {
  .Header__title {
    font-size: 4rem;
  }
}

@media (max-width: 500px), (max-device-width: 500px) {
  .Header__title {
    font-size: 3rem;
  }
}

@media (max-width: 375px), (max-device-width: 375px) {
  .Header__title {
    font-size: 2.5rem;
  }
}
